# CMake stuff
CMakeCache.txt
CMakeFiles
Makefile
CMakeScripts
Testing
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

# Clangd
.cache

#VSCode
.vscode